[[TracNav(bo/9876-543-2/menu)]] ##$boxoffice.zenithid/menu
= BoxOffice node :  1234-567-8 (Appliance01) =  ## $machine.zenithid - ($machine.name) 

This page show all information for BoxOffice device APPLIANCE/CPU/STORAGE node 1234-567-8 (Appliance01) ##'$machine.type $machine.zenithid - ($machine.name)'.

{{{
#!html
<table cellpadding=10 width="100%" noborder=1><tr valign=top><td width="50%">
}}}

== Info ==

BoxOffice environment: 9876-543-2[[BR]] ##$boxoffice.zenithid
Zenith ID: 1234-567-8 [[BR]]##$machine.zenithid
Name: Appliance01 [[BR]]##$machine.name
Type : APPLIANCE [[BR]]##$machine.type
{{{
#!html
</td><td width="50%">
}}}

== Remote connection ==
* Connect to central portal[[BR]] ##[http://127.0.0.1:22000/info/startKvm/rms=$wizardSdkAddress/machine=$vmachine.model.guid/customer=$vmachine.model.customer KVM]
* Connect over SSH[[BR]] ##[http://127.0.0.1:22000/info/start/rms=$wizardSdkAddress/app=SCP/machine=$vmachine.model.guid/customer=$vmachine.model.customer/application=$app.model.guid SCP]
[[BR]]

{{{
#!html
</td></tr></table>
}}}

## IP Address information must be based on osis model as well 
## for ip in $machine.ipaddress
### ...
## end for

== IP Info ==
||IP address||Type||
||5.255.0.100||Public (VPN)||
||5.254.0.100||Public (VPN)||
||172.23.25.254||Private||
||172.24.25.254||Private||

## ACL information must be based on osis model as well 
## for ace in $machine.acl
### ...
## end for


== Access control list ==
||User||Type||
||john_smith||Read||
||bill_gates||Write||
||steve_jobs||Execute||

||Group||Type||
||Zenith NOC support||Read||
||Zenith NOC operations||Execute||


